/* css custom */
.bg-softblue{
    background-color: #f4f4ff;
}

.nav-tabs .nav-link {
    color: inherit;
}

.nav-tabs .nav-link.active{
    color:#114da6
}

#layoutSidenav_content footer{
    font-size:14px;
    padding-top:13px !important;
    padding-bottom:13px !important
}

#hideMe {
    -moz-animation: cssAnimation 0s ease-in 3s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 3s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 3s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 3s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes cssAnimation {
    to {
        width: 0;
        height: 0;
        opacity: 0;
        padding: 0px;
        margin: 0px;
        overflow: hidden;
    }
}

@-webkit-keyframes cssAnimation {
    to {
        width: 0;
        height: 0;
        opacity: 0;
        padding: 0px;
        margin: 0px;
        visibility: hidden;
    }
}

.asterisk{
    position: relative;
}
.asterisk:after {
    content: "*";
    color: #ca173f;
    font-size: 15px;
    position: absolute;
    top: -3px;
}